:root {
    box-sizing: border-box;

    --gray-900: #000;
    --gray-700: #bfbfbf;
    --gray-400: #f0f0f0;
    --gray-200: #fafafa;
    --gray-100: #ffffff;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    color: var(--gray-900);
    background-color: var(--gray-100);

    font-family: "Roboto", sans-serif;
}

h1 {
    margin-bottom: 1rem;
}

summary {
    font-size: 1.25rem;
    font-weight: 700;
    user-select: none;
}

.button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 0.875rem;
    font-size: 1.25rem;
}

.button:hover {
    cursor: pointer;
}

.inverted {
    background-color: var(--gray-900);
    color: var(--gray-100);
}

.main-container {
    display: flex;
    flex-direction: row;
}

.aside,
.main-nav__menu,
.main-nav__projects {
    display: flex;
    flex-direction: column;
}

.aside {
    width: 100%;
    max-width: 20vw;
    min-width: 248px;

    height: 100vh;
    padding: 1rem;
    background-color: var(--gray-200);
}

.main-nav {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 2rem;
}

.main-nav__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--gray-400);
}

.main-nav__menu__option,
.main-nav__projects__project-button {
    text-align: start;
}

.main-nav__menu__option,
.add-project-button,
.add-task-button {
    font-weight: 700;
    text-transform: capitalize;
}

.main-nav__menu__option:hover,
.main-nav__projects__project-button {
    background-color: var(--gray-400);
}

.active {
    background-color: var(--gray-400);
}

main {
    width: 100%;
}

#content {
    padding-top: 2rem;
    padding-left: 8rem;
}

#add-task-button {
    position: fixed;
    bottom: 64px;
    right: 64px;
}

.task {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 80ch;
    user-select: unset;
}

.task__description {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task__description__title {
    font-size: 1.25rem;
}

.task__description__project {
    color: var(--gray-700);
}

.tasks__not-done:not(:empty),
.tasks__done {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

input[type="checkbox"] {
    width: 32px;
    height: 32px;
}
